.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.4);
    color: #222;
    border-radius: 20px;
    padding: 20px;

    h1 {
        font-size: 24pt;
        text-align: center;
        padding: .5em 0;
    }
    p {
        text-align: center;
        padding: 1em;
    }
    label {
        display: block;
        padding: .5em;
    }
    input {
        padding: 5px;
    }
}